:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light;
  color: #303030;
  background-color: #FFFFFF;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

.formLogin {
  display: flex;
  flex-direction: column;
}

.formLogin input {
  height: 35px;
  border: 1px solid #595959;
  border-radius: 8px;
  outline: none;
  margin-bottom: 10px;
}

.formLogin input[type="button"],
.formLogin button {
  cursor: pointer;
  letter-spacing: 0.05rem;
  text-transform: uppercase;
  background: #00594c;
  color: #FFFFFF;
  border: none;
  outline: none;
}

.formLogin input[type="button"]:hover,
.formLogin button:hover {
  opacity: 0.8;
}
.formLogin a {
  margin-top: 15px;
  color: #00594c;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #00594c;
  color: #FFFFFF;
  cursor: pointer;
  transition: border-color 0.25s;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

.cards-informations {
  position: relative;
  overflow-x: auto;
  white-space: nowrap;
}

.card-info {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  width: 50%;
  height: 100%;
  padding: 10px;
  margin: 10px;
  border-radius: 8px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.30);
}

.card-info h4 {
  margin: 0;
}

.card-balance {
  background-color: #0984e3;
  color: #FFFFFF;
}

.card-incomes {
  background-color: #00594c;
  color: #FFFFFF;
}

.card-expenses {
  background-color: #d35c5c;
  color: #FFFFFF;
}

.transactions-list {
  list-style: none;
  padding: 0;
}

.transaction-card {
  cursor: pointer;
  position: relative;
  border: 1px solid #00594c;
  border-radius: 8px;
  padding: 10px;
  margin-bottom: 10px;
  list-style: none;
  overflow: hidden;

  display: flex;
  justify-content: space-between;
  align-items: center;
}


.transaction-card:hover {
  background-color: #e7e7e7;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.30);
}

.transaction-badge {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 5px;
  border-radius: 10px;
}

.transaction-income {
  background-color: #00594c;
}

.transaction-expense {
  background-color: #ff0000;
}

.transaction-name,
.transaction-value {
  font-size: 15px;
  margin: 0 10px;
  font-weight: bold;
}

.transaction-remove {
  cursor: pointer;
  position: absolute;
  font-weight: 500;
  text-transform: uppercase;
  font-size: 0.75rem;
  letter-spacing: 1.5px;
  right: 0;
  top: 0;
  width: 0;
  height: 100%;
  padding: 0px 10px;
  background-color: #d35c5c;
  color: #FFFFFF;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
  transition: 0.2s ease-out;
  overflow: hidden;
  visibility: hidden;
  opacity: 0;
}